<div class="container bg-light py-5">
    <h1 class="display-5 fw-bold">Welcome to Angular Quiz App</h1>
    <p class="col-md-8 fs-4">This quiz will contain total 10 question, Each question holds 10 points</p>
    <h4>Rules:</h4>
    <ol>
        <li>Correct Question gives you 10 points</li>
        <li>Incorrect Answer gives you -10 points</li>
        <li>You will have 30 sec to answer each question </li>
        <li>Refreshing the page will reset the quiz</li>
    </ol>
    <h1 style="font-family: cursive; text-align: center;">All the best!!</h1>
    <div class="name col-md-4 my-3">
        <label for="">Enter Your Name</label>
        <input  #name type="text" class="form-control"> <!--through reference variable passing the data to question component-->
    </div>
    <button class="btn btn-primary btn-lg" routerLink='/question' (click)="startQuiz()">Start the Quiz!!</button>
</div>
